/* Global variables */
html {
  --primary-color: #463220;
  --secondary-color: #66593c;
  --accent-color: #eceadd;
  --color-4: #f7f8f5;
  --color-5: #ffffff;
  --gap-s: 0.625rem;
  --gap: 1.25rem;
}

/* CSS Reset */
body {
  font-family: sans-serif;
  margin: 0px;
  color: var(--secondary-color);
  background-color: var(--color-4);
}

button {
  font-family: sans-serif;
  font-style: 1rem;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Utility classes */
.box {
  padding: var(--gap);
  border-radius: var(--gap);
  background-color: var(--color-5);
}

.flex {
  display: flex;
  gap: var(--gap);
}

.flex > * {
  flex: 1;
}

.mb {
  margin-bottom: var(--gap);
}

.bg-1 {
  background-color: var(--primary-color);
}

.bg-2 {
  background-color: var(--secondary-color);
}

.bg-3 {
  background-color: var(--accent-color);
}

.bg-4 {
  background-color: var(--color-4);
}

.bg-5 {
  background-color: var(--color-5);
}

.container {
  display: grid;
  padding: var(--gap);
  gap: var(--gap);
  grid-template-columns: 240px auto;
}

.abstract {
  font-size: 1.5rem;
  font-weight: 600;

  h2 {
    font-size: 1.5rem;
    margin-bottom: var(--gap);
    color: var(--primary-color);
  }
}

.sale {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  gap: var(--gap);
  margin-bottom: var(--gap-s);

  a {
    text-decoration: none;
    color: inherit;
  }
}

.sale div:last-child {
  justify-self: end;
}

.sidenav li {
  display: flex;
  align-items: center;
  gap: var(--gap-s);

  span {
    width: 2rem;
    height: 2rem;
    background: var(--color-4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--gap);
  }

  a {
    flex: 1;
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--primary-color);
    padding: var(--gap-s) 0;
    margin: 0.25rem 0;
  }
}

.sidenav li:hover span {
  background-color: var(--accent-color);
}

.daterange {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}

@media (max-width: 1000px) {
  .abstract {
    flex-direction: column;
  }
  .daterange {
    grid-template-columns: 1fr;
  }
  .daterange *:last-child {
    grid-row: 1;
  }
}

@media (max-width: 700px) {
  html {
    --gap-s: 0.5rem;
    --gap: 0.75rem;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .flex {
    flex-direction: column;
  }
  .sidenav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .sidenav li a {
    font-size: 0.875rem;
  }
  .sale {
    grid-template-columns: 1fr;
  }
  .sale div:last-child {
    justify-self: start;
  }
}
